.menuItemsList {
  padding: 0 20px;
}

.menuItem {
  padding: 12px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.noneItem {
  display: none;
}
.menuItem>div+span {
  margin-left: 7px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--greyEC);
}

@media all and (min-width: 1024px) {
  .visibleItem {
  display: flex;
  }
}

@media all and (min-width: 1540px) {
  .menuItemsList {
    padding: 10px 20px;
  }

  .menuItem {
    padding: 5px 0;
  }

  .none {
    display: none;
  }
}